@CHARSET "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

body {
   font-family: 'Roboto Slab', serif;
   background-color: #b4a1ff;
}
h1 {
    text-align: center;
}

#info {
    text-align: center;
}

#location {
    float: right;
    text-align: right;
}

#items ul {
    width: 100%;
    margin: auto;
}
#items li {
    display: inline-block;
    border: 1px solid black;
    padding: 20px;
    background-color: #cabdff;
}
