@CHARSET "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

body {
   font-family: 'Roboto Slab', serif;
   font-size: 140%;
   margin: 7%;
}
h1 {
    text-align: center;
}
h2 {
    margin-bottom: 10px;
    margin-left: 10px;
    text-transform: uppercase;
}
h3, h4 {
    float: left;
    flex-grow: 5;
    margin: 10px;
    margin-top: 0px;
    margin-bottom: 5px;
}
h3 {
    margin-top: 10px;
    font-weight: bold;
}
h4 {
    font-style: italic;
    font-weight: normal;
}
ul {
    margin: 5px;
}
#title {
    display: flex;
    flex-wrap: nowrap;
    align-items: baseline;
}

#info {
    text-align: center;
}

#location {
    text-align: right;
    font-weight: bold;
    padding: none;
}

#items ul {
    display: flex;
    align-items: baseline;
    flex-flow: row nowrap;
    justify-content: flex-start;
}
#items li {
    display: inline-block;
    border: 1px solid black;
    padding: 15px;
    list-style-type: none;
}
hr {
    margin-top: 20px;
}
