@CHARSET "UTF-8";

html, body {
    height: 100%;
    margin: 0px;
	font-size: 12pt;
}

#titlepage {
    width: 100%;
    height: 100%;
    background: #030303;
}

.htj {
	width: 50%;
	height: 50%;
	margin: 0px;
	display: inline-block;
	vertical-align: top;
}
.howto {
    font-size: 1000%;
	font-family: Arial;
    font-weight: bold;
    height: 40%;
    display: block;
    background-color: red;
	padding-left: 3%;
}
.java {
    font-size: 1400%;
    font-weight: bold;
	font-family: Arial;
    height: 60%;
    display: block;
    background-color: blue;
	padding-left: 3%;
}
.logo {
	width: 50%;
	height: 50%;
	display: inline-block;
	background-color: white;
	margin: 0px;
	vertical-align: top;
}
.sub {
	width: 100%;
	height: 10%;
	font-size: 400%;
	display: block;
	background-color: lime;
	margin: 0px;
	padding: 1.5% 0 0 1.5%;
}
.description {
	width: 100%;
	height: 10%;
	font-size: 200%;
	display: block;
	background-color: yellow;
	margin: 0px;
	padding: 1.5% 0 0 1.5%;
}
.arrow {
	width: 100%;
	height: 30%;
	text-align: center;
	display: block;
	background-color: white;
}

#page1 {
	width: 100%;
	height: 100%;
}