@CHARSET "UTF-8";

html, body {
    height: 100%;
    margin: 0px;
	font-size: 12pt;
	padding: 0px;
	overflow-x: hidden;
}

#titlepage {
    width: 100%;
    height: 100%;
    /*background: url('grey_wash_wall.png');*/
	background-color: #808080;
}

.htj {
	/*color: rgba(0,0,0,.5);*/
	width: 100%;
	height: 40%;
	margin: 0px;
	display: block;
	text-align: center;
	border: 1px dashed black;
	
	color: rgba(48,48,48,1);
	font-family: 'Patrick Hand', cursive;
	text-shadow: 1px 1px 0 rgba(140,140,140,0.6) , -1px -1px 1px rgba(0,0,0,0.67);
	font-size: 1000%;
	position: relative;
	line-height: 100%;
	vertical-align: middle;
	/*background: url('grey_wash_wall_dark.png') center center;
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	text-shadow: -5px -5px black;
	/*text-shadow: 0px 1px 0px rgba(255,255,255,1), 0px -1px 0px rgba(0,0,0,1);*/
}

.howto {
	color: rgba(48,48,48,1);
    font-size: 750%;
	font-family: 'Patrick Hand', cursive;
    /*font-weight: bold;*/
    height: 30%;
    display: block;
	vertical-align: bottom;
    /*background-color: red;*/
	border: 1px dashed black;
	
}
.java {
	color: rgba(48,48,48,1);
    font-size: 1400%;
    /*font-weight: bold;*/
	font-family: 'Patrick Hand', cursive;
    height: 70%;
    display: block;
	vertical-align: top;
    /*background-color: blue;*/
	border: 1px dashed black;
	text-shadow: 1px 1px 0 rgba(140,140,140,0.6) , -1px -1px 1px rgba(0,0,0,0.67);
}
.sub {
	color: rgba(48,48,48,1);
	width: 100%;
	height: 10%;
	font-size: 370%;
	font-family: 'Patrick Hand', cursive;
	display: block;
	text-align: center;
	/*background-color: lime;*/
	margin: 0px;
	text-shadow: 1px 1px 0 rgba(140,140,140,0.6) , -1px -1px 1px rgba(0,0,0,0.67);
	border: 1px dashed black;
}
.description {
	width: 100%;
	height: 10%;
	font-size: 200%;
	display: block;
	/*background-color: yellow;*/
	margin: 0px;
	padding: 1.5% 0 0 1.5%;
	border: 1px dashed black;
}
.arrow {
	width: 100%;
	height: 30%;
	text-align: center;
	display: block;
	/*background-color: white;*/
	border: 1px dashed black;
}

.section {
	position: relative;
	z-index:0; 
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition: -webkit-transform 0.6s ease-in-out;
    transition: transform 0.6s ease-in-out;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.section p{
	position: absolute;
	bottom: 0;
	right: 0;
	padding-right: 30px;
	font-size: 50pt;
	font-family: Arial;
}
#page1 {
	width: 100%;
	height: 100%;
	margin: 0;
	background: url('setting_up.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}
#page2 {
	width: 100%;
	height: 100%;
	margin: 0;
	background: url('java_programming.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}
#page4 {
	width: 100%;
	height: 100%;
	margin: 0;
	background: url('git.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}
#page5 {
	width: 100%;
	height: 100%;
	margin: 0;
	background: url('control.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}